<h2><%= @game.player_1_name %> vs. <%= @game.player_2_name %></h2>

<div>
<em><%= @game.current_player.name %>: It is your turn!</em>
</div>

<p><%= @game.player_1_name %>: <%= @game.player_1_hp %> HP</p>
<p><%= @game.player_2_name %>: <%= @game.player_2_hp %> HP</p>


<form action='/attack'>
  <input type="submit" value="Attack">
</form>
